#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.container-fluid {
  height: 100%;
}

.row {
  height: 100%;
}

.background{
  background: linear-gradient(90deg, lightblue, white, lightblue);
}

.header_font{
  font-style: 'Barlow Condensed';
  color: rgb(42, 126, 204);
  font-size: 20px;
  font-weight: 600;
}

.content_font{
  color: rgb(210, 209, 209);
}

.hover_button{
  color: rgb(55, 165, 225);
  background-color: transparent;
  border: 1px solid rgb(55, 165, 225);
  border-radius: 10px;
}

.hover_button:hover{
  color: rgb(255, 255, 255);
  background-color:  rgb(55, 165, 225);
  transition: color 0.1s;
}

/* styling of elements */

.img{
  margin-top: 15%;
  border-radius: 15%;
  object-fit: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  height: 30%;
  width: 40%;
}

.lower_font{
      font-family: 'poppins', sans-serif; 
      font-size: 24px; 
      font-weight: 400; 
      color: #000000; 
      line-height: 1.5;
}

.nav{
  background: transparent;
  justify-content: space-between;
  align-items: center;
}